{% import_yaml "openstack/release.jinja" as openstack_release %}
{% import_yaml "nova/conductor/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian': { 'packages': [ 'nova-api', 'nova-cert', 'nova-conductor',
                              'nova-consoleauth', 'nova-novncproxy',
                              'nova-scheduler', 'python-novaclient', ],
                'services': [ 'nova-api', 'nova-cert', 'nova-consoleauth',
                              'nova-scheduler', 'nova-conductor',
                              'nova-novncproxy', ], },
    'RedHat': {},
    'Suse':   {},
  }) %}

{% do default_settings.nova.conductor.update(distro_map) %}

{% set nova_conductor_settings = salt['pillar.get']('nova:conductor',
    default=default_settings.nova.conductor, merge=True) %}
