{% import_yaml "openstack/release.jinja" as openstack_release %}
{% import_yaml "openstack/keystone/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian': { 'packages': [ 'keystone', 'python-keystoneclient', 'moreutils', ],
                'services': [ 'keystone', ],
                'extra_headers': {
                  'Distribution': salt['grains.get']('os'), }, },
    'RedHat': {},
    'Suse':   {},
  }) %}

{% do default_settings.openstack.keystone.update(distro_map) %}

{% set keystone_settings = salt['pillar.get']('openstack:keystone', default=default_settings.openstack.keystone, merge=True) %}
