{% import_yaml "openstack/release.jinja" as openstack_release %}
{% import_yaml "nova/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian': { 'packages': [ 'nova-api-metadata', 'nova-compute',
                              'nova-network', 'sysfsutils', ],
                'services': [ 'nova-api-metadata', 'nova-compute',
                              'nova-network', ], },
    'RedHat': {},
    'Suse':   { 'packages': [ 'openstack-nova-compute', 'genisoimage',
                              'kvm', ] },
  }) %}

{% do default_settings.nova.update(distro_map) %}

{% set nova_settings = salt['pillar.get']('nova',
    default=default_settings.nova, merge=True) %}
